lightning_logs/
wandb_logs/
__pycache__/
dataset_samples/
vanila/
logs/
model_vanila/
model_clean_2sp/
model_clean_4sp/
model_noisy_2sp/
model_noisyl_4sp/
model_noisypaper_2sp/
ckpts/
model_noisypaper_2sp_1024/
model_paper_1024_p0.5/
model_sp_count_check/
model_sp_loss_check/
sp_count.txt
